$primary-color: #333;

$resume-padding: 1% 10%;
$body-title-padding : 1% 1%;

.resume-header {
  color: white;
  text-align: center;
}

.resume-body {
  margin-top: 10px;
}
hr {
  border: 1px solid grey;
}

.body-title {
  text-align: center;
}
.profile-picture {
  width: 200px;
  height: 250px;
}

.resume-body {
  span {
    margin-left: 15px;

  }
}

.skills-list span {
  position: absolute;
    top:25%;
    left: 15%;
}

.header-btn {
  padding-bottom: 15px;
  div:hover {
  background-color: #212529;
  cursor: pointer;
  }
}

li {
  margin: .5rem 0;
  position: relative;
}
#my-carousel{
  .carousel-item {
    //height: 35vh;
    height: 100%;
  }
}


