<div class="resume-base container-fluid">
  <!-- Header Section -->
  <div class="resume-header">
    <div class="row">
      <div class="col-md">
        CV
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <h1>VICTOR LOH</h1>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <hr>
      </div>
      <div class="col-md-4">
        <h5>SOFTWARE ENGINEER</h5>
      </div>
      <div class="col-md-4">
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md" style="border-right: solid 1px grey;">
        <fa-icon [icon]="faMapMarkerAlt">test</fa-icon>
        <p>Kuala Lumpur, Malaysia</p>
      </div>
      <div class="col-md" style="border-right: solid 1px grey;">
        <fa-icon [icon]="faPhone">test</fa-icon>
        <p>010-9780638</p>
      </div>
      <div class="col-md" style="border-right: solid 1px grey;">
        <fa-icon [icon]="faMailBulk">test</fa-icon>
        <P>victor.loh95@gmail.com</P>
      </div>
      <div class="col-md">
        <fa-icon [icon]="faLink">test</fa-icon>
        <P>https://github.com/victorlcs</P>
      </div>
    </div>
  </div>

  <!-- Body Section -->
  <div class="resume-body">
    <div class="row">
      <div class="col-md-3">
        <div class="profile-picture">
          <img src="./assets/profile-picture/victorlcs.jpg" alt="..." class="img-thumbnail">
        </div>
      </div>
      <div class="col-md-9">
        asasds asdasd asd  asd as das dasdasd asdas dasdas dasd asdasdasd asda sdasd as dasd asdas asd asd asdas das
      </div>
    </div>
  </div>

  <!-- Footer Section -->
  <div class="resume-footer">

  </div>
</div>
